<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
 
      <add name="conexionStr" connectionString="Data Source=Fabian-PC;Initial Catalog=BDStarCommunitySystem;User ID=cenfo;Password=123456" providerName="System.Data.SqlClient"  />
    </connectionStrings>
</configuration>